<div class="modal-content">
    <div class="modal-header">
        <h3 ng-if="vm.user.username">{{vm.user.username}}'s Profile</h3>
        <h3 ng-if="!vm.user.username">This user doesn't exist yet!</h3>
    </div>
    <div class="modal-body">
        <div ng-if="!vm.user.username">
            This user has not registered with our system yet!
        </div>
        <div class="container-fluid" ng-if="vm.user.username">
            <div ng-if="vm.user.name">
                <label>Name</label>
                <p>{{vm.user.name}}</p>
            </div>
            <div ng-if="vm.user.bio">
                <label>Bio</label>
                <p>{{vm.user.bio}}</p>
            </div>

            <div class="box box-info">
                <div class="box-header with-border">
                    Active Tournaments
                </div>
                <div class="box-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Size</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tournament in vm.tournaments | filter: {completed: '0'} as filteredActiveTournaments">
                                <td>{{tournament.tname}}</td>
                                <td>{{tournament.numParticipants}} person tournament</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-default btn-flat" ng-click="vm.close()">Close</button>
        </div>
    </div>
</div>