<div class="container-fluid content-wrapper">
    <div class="page-header">
        <div class="pull-right">
            <button class="btn btn-success" ng-click="vm.isEditingScore = false" ng-if="vm.isEditingScore">Save Scores</button>
            <button class="btn btn-primary" ng-click="vm.isEditingScore = true" ng-if="!vm.isEditingScore">Update Scores</button>
            <button class="btn btn-default" ng-click="vm.close()">Close</button>
        </div>
        <h3>View Tournament 1</h3>
    </div>  

    <!-- Bracket -->
    <div>
        
        <div ng-repeat="matchup in vm.bracket.matchups">
            <table class="table table-bordered" style="width: 100px">
                <tbody>
                    <tr>
                        <td>{{matchup.player1}}</td>
                    </tr>
                    <tr>
                        <td>{{matchup.player2}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>

</div>