<div class="container-fluid content-wrapper">
    <div class="page-header">
        <div class="pull-right">
            <button class="btn btn-success btn-flat" ng-click="vm.isEditingScore = false" ng-if="vm.isEditingScore">Save Scores</button>
            <button class="btn btn-primary btn-flat" ng-click="vm.isEditingScore = true" ng-if="!vm.isEditingScore">Update Scores</button>
            <a href="#/dashboard/{{lpc.authService.userLoggedIn.username}}/active-tournaments" class="btn btn-default" >Close</a>
        </div>
        <h3>View Tournament </h3>
    </div>  

    <!-- Bracket -->
    <div style="height: auto">
        <div class="row">
            <div ng-repeat="round in vm.bracket" class="col-md-2 vcenter" ng-class="{'final-match' : round.bottom.length == 0}">

                {{round}}

                <div class="spacing">

                    <div ng-repeat="matchup in round.top">

                        <table class="table table-bordered" style="width: 100px">
                            <tbody>
                                <tr ng-click="vm.openProfile(matchup.player1)" class="clickable">
                                    <td>{{matchup.player1}}</td>
                                </tr>
                                <tr ng-click="vm.openProfile(matchup.player2)" class="clickable">
                                    <td>{{matchup.player2}}</td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="round in vm.bracket.rounds" class="col-md-2 vcenter">

                <div ng-repeat="matchup in round.bottom">

                    <table class="table table-bordered" style="width: 100px">
                        <tbody>
                            <tr>
                                <td>{{matchup.player1}}</td>
                            </tr>
                            <tr>
                                <td>{{matchup.player2}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
           

    </div>

</div>