@{
    Layout = "";
}

<!DOCTYPE html>
<html ng-app="app" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>Tourney Maker</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <base href="/" />

    <meta name="description" content="" />
</head>
<body class="skin-blue">

    <header class="main-header">
        <a href="#/dashboard" class="logo">Tourney Maker</a>
        <nav class="nav navbar navbar-static-top">

            <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only"></span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <a href=""><i class="fa fa-bell-o"></i></a>
                    </li>
                    <li>
                        <a href="" style="pointer-events:none">John Doe</a>
                    </li>
                    <li>
                        <a href="#/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    @* This is where our application lives *@
    <ng-view></ng-view>

</body>
</html>

