/*This is where all of the customer css we need for the app will go.
  Try to find a way to make it work with bootstrap but if you can't, override it here.
  If a page needs a specific style sheet associated with it, create a new one and include it in the BundleConfig.cs
*/

.clickable {
    cursor: pointer;
}

.matchup-hover:hover{
    outline: solid;
    outline-color: #eee;
    outline-width: 2px;
}

.winner {
    outline:solid;
    outline-color: #5cb85c;
    outline-width: 2px;
}